body{
	margin: 0px; 
	font-family: sans-serif;
}

section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

header{
	background-color: rgb(144, 168, 165);
	color: white; 
	padding-top: 50px;
	padding-bottom: 50px;
}

nav{
	width: 100%;
	height: 60px;
	font-family: 'Open Sans', sans-serif;
	font-size:100%;
	box-shadow: 0 8px 8px -2px rgba(0,0,0,.2);
}

nav a, nav h3{
	float: left;
	margin: 0px;
	line-height: 60px;
	margin-left: 1em;
	margin-right: 1em;
	text-decoration: none;
}

nav a:hover{
	text-decoration: underline; /* Hover styles to let people know they can click it */
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}
.footer-bottom {
	padding: 2em 0;
	
}
.footer-bottom p {
	float: none;
	text-align: center;
}
.header{
	padding: 2%;
}
.header-bg{
	background:#fff;
	border-top:10px solid #E44A4A;
}
.contianer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px 40px;
}
img {
    width: 97%;
    height: 97%;
    object-fit: cover;
}